altgraph==0.17.4
certifi==2023.11.17
charset-normalizer==3.3.2
distlib==0.3.8
filelock==3.13.1
idna==3.6
packaging==24.0
pefile==2023.2.7
pipenv==2023.11.15
platformdirs==4.1.0
pyinstaller==6.6.0
pyinstaller-hooks-contrib==2024.4
PySocks==1.7.1
pywin32-ctypes==0.2.2
requests==2.31.0
setuptools==69.0.2
TgCrypto==1.2.5
urllib3==2.2.1
virtualenv==20.25.0
